name: 'Build and Test'

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  publish:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '19'

      - name: Build
        run: |
          ./gradlew :photomanipulator:build

      - name: Test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: ./gradlew :photomanipulator:jacocoTestReport

      - name: Setup sonarqube
        uses: warchant/setup-sonar-scanner@v9

      - name: Analyze with SonarCloud
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: sonar-scanner
          -Dsonar.projectKey=guhungry_android-photo-manipulator
          -Dsonar.projectName=android-photo-manipulator
          -Dsonar.organization=guhungry-github
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.token=${{ secrets.SONAR_TOKEN }}
          -Dsonar.sources=photomanipulator/src/main
          -Dsonar.tests=photomanipulator/src/androidTest,photomanipulator/src/test
          -Dsonar.coverage.jacoco.xmlReportPaths=photomanipulator/build/reports/jacoco/jacocoTestReport/jacocoTestReport.xml
